.r-bar{
  position:relative;
  display:flex;
  background:#505b68;
  justify-content:flex-start;
  box-sizing:border-box;     
}
.r-bar-horizontal{
  padding:0 6px;
}
.r-bar-vertical{
  padding:6px 0;
  width:fit-content;
  flex-direction:column;
}

.r-bar button{
  color:#fff;
  padding:12px; 

}
.r-bar button.active{
  color:#fff;
  background:#2c3645;
}

.r-bar-vertical button{
  display:flex;
  align-items:center;
  width:100%;
}
.r-bar-sides{
  display:flex;
  flex:1;
}

.r-bar-vertical .r-bar-sides{
  flex-direction:column;
}

.r-bar-start{
  justify-content:flex-start;
}
.r-bar-end{
  justify-content:flex-end;
}

